
{% extends 'panel.html.twig' %}


{% block title %}Strona główna{% endblock %}

{% block body %}
<style>
    .example-wrapper { margin: 1em auto; max-width: 800px; width: 95%; font: 18px/1.5 sans-serif; }
    .example-wrapper code { background: #F5F5F5; padding: 2px 6px; }
</style>
<div class="container pt-4">
<img src="picture1.png" width="150" height="150" class="img-thumbnail" alt="...">
<img src="picture2.png" width="150" height="150" class="img-thumbnail" alt="...">
<img src="picture4.png" width="150" height="150" class="img-thumbnail" alt="...">
<img src="picture3.png" width="150" height="150" class="img-thumbnail" alt="...">
</br>
</br>
</br>
<p class="fs-3">Eduon jest dziennikiem elektroniczym, został stworzony, aby wspomóc nauczycieli w ich pracy.</p>
<p class="fs-3">Aby skorzystać z jego funkcjonalności, użyj menu z lewej strony.</p>

</div>

{% endblock %}
